In [4]:
import pandas as pd
import pickle
df = pd.read_csv('selected_hospitals.csv')
df.head()

/var/folders/jl/xhnr5hxs1yj70mjf16q_gx9m0000gn/T/ipykernel_56074/1651660157.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_hospitals.csv')

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price
0,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,CASH PRICE,\n51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,112.70
1,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,GROSS CHARGE,\n51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,161.00
2,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,MAX,\n51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,152.95
3,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,MIN,\n51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50
4,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC CORVEL,\n51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,152.95

In [27]:
df['payer'] = df['payer'].str.strip()
df['code'] = df['code'].str.strip()

# Drop rows where 'payer' has unwanted values
unwanted_payers = ['GROSS CHARGE', 'CASH PRICE', 'MAX', 'MIN']
df_filtered = df[~df['payer'].isin(unwanted_payers)]

# Drop rows where 'code' has the value 'NONE'
df_filtered = df_filtered[df_filtered['code'] != 'NONE']

# Display the first few rows to verify the changes
df_filtered.head()

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
4,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC CORVEL,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,152.95,165.1860,160.5975
5,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC COVENTRY,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
6,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
7,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,69.23,74.7684,72.6915
8,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,74.06,79.9848,77.7630

In [29]:
df_filtered['gross_charges'] = df_filtered['price'] * 1.08  # Gross charges increased by 8%
df_filtered['maximum_price'] = df_filtered['price'] * 1.05  # Maximum price increased by 5%
df_filtered.head()

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
4,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC CORVEL,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,152.95,165.1860,160.5975
5,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC COVENTRY,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
6,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
7,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,69.23,74.7684,72.6915
8,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,74.06,79.9848,77.7630

In [31]:
#total number of unique codes
df_filtered['code'].nunique()

19353

In [33]:
df_filtered.groupby(['name', 'state'])['code'].nunique()

name                                        state
BAPTIST HOSPITAL                            FL       6165
CLARK REGIONAL MEDICAL CENTER               KY       2706
CLEVELAND CLINIC INDIAN RIVER HOSPITAL      FL       2312
LAKE CUMBERLAND REGIONAL HOSPITAL           KY       3051
SSM HEALTH SAINT LOUIS UNIVERSITY HOSPITAL  MO       4922
SSM HEALTH ST MARY'S HOSPITAL - ST LOUIS    MO       2286
STARR REGIONAL MEDICAL CENTER ATHENS        TN       2254
SUMNER REGIONAL MEDICAL CENTER              TN       2968
Name: code, dtype: int64

In [35]:
#total number of unique payers
df_filtered['payer'].nunique()

334

In [37]:
#number of unique payer per hospital 
df_filtered.groupby(['name', 'state'])['payer'].nunique()

name                                        state
BAPTIST HOSPITAL                            FL        25
CLARK REGIONAL MEDICAL CENTER               KY        32
CLEVELAND CLINIC INDIAN RIVER HOSPITAL      FL        61
LAKE CUMBERLAND REGIONAL HOSPITAL           KY        39
SSM HEALTH SAINT LOUIS UNIVERSITY HOSPITAL  MO        28
SSM HEALTH ST MARY'S HOSPITAL - ST LOUIS    MO        21
STARR REGIONAL MEDICAL CENTER ATHENS        TN       102
SUMNER REGIONAL MEDICAL CENTER              TN        87
Name: payer, dtype: int64

In [39]:
len(df_filtered)

1380490

In [41]:
#import pandas as pd

# Assuming your main DataFrame is named 'final_df'

# Step 1: Ensure the data includes different hospitals and insurance providers (payers)
# You can group by 'name' (hospital) and 'payer' to get unique combinations
unique_hospital_payer_df = df_filtered.drop_duplicates(subset=['name', 'payer'])

# Step 2: Select at least 10 rows from different hospitals with different insurance providers
# Randomly select 10 rows (ensuring there are 10 distinct combinations of hospital and payer)
sample_data = unique_hospital_payer_df.sample(n=10, random_state=42)

# Step 3: Save the sample data to a CSV file
sample_data.to_csv('sample_hospital_data.csv', index=False)

# Display confirmation
print("A sample of 10 rows with different hospitals and insurance providers has been saved to 'sample_hospital_data.csv'.")

A sample of 10 rows with different hospitals and insurance providers has been saved to 'sample_hospital_data.csv'.

In [43]:
sample_data

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
343120,100105,CLEVELAND CLINIC INDIAN RIVER HOSPITAL,1000 36TH ST,VERO BEACH,FL,https://my.clevelandclinic.org/,UNITED HEALTHCARE CHOICE,0037U,1.0,TARGET GENOMIC NEOPLASM ANALSOLID ORGAN,6628.13,7158.3804,6959.5365
1513341,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,UNITED AMERICAN,HCPCS/CPT 0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1263734,440003,SUMNER REGIONAL MEDICAL CENTER,555 HARTSVILLE PIKE,GALLATIN,TN,http://www.mysumnermedical.com/,NOVE NET PPO,HCPCS/CPT 0042T,1.0000 each,Cerebral perfusion analysis using computed tom...,520.99,562.6692,547.0395
342934,100105,CLEVELAND CLINIC INDIAN RIVER HOSPITAL,1000 36TH ST,VERO BEACH,FL,https://my.clevelandclinic.org/,NATIONAL PREFERRED PROVIDER NETWORK,0001A,1.0,PFIZER VACCINE ADMIN FIRST DOSE,68.68,74.1744,72.1140
1513422,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,MMC UNITED HCADVAN,HCPCS/CPT 10009,Each,"Fine needle aspiration biopsy, including CT gu...",550.83,594.8964,578.3715
1263706,440003,SUMNER REGIONAL MEDICAL CENTER,555 HARTSVILLE PIKE,GALLATIN,TN,http://www.mysumnermedical.com/,Cigna Health,HCPCS/CPT 0042T,1.0000 each,Cerebral perfusion analysis using computed tom...,566.29,611.5932,594.6045
342918,100105,CLEVELAND CLINIC INDIAN RIVER HOSPITAL,1000 36TH ST,VERO BEACH,FL,https://my.clevelandclinic.org/,EVOLUTIONS,0001A,1.0,PFIZER VACCINE ADMIN FIRST DOSE,48.48,52.3584,50.9040
1263718,440003,SUMNER REGIONAL MEDICAL CENTER,555 HARTSVILLE PIKE,GALLATIN,TN,http://www.mysumnermedical.com/,HIX Humana,HCPCS/CPT 0042T,1.0000 each,Cerebral perfusion analysis using computed tom...,220.85,238.5180,231.8925
1513283,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,CNA,HCPCS/CPT 0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
733099,180092,CLARK REGIONAL MEDICAL CENTER,175 HOSPITAL DRIVE,WINCHESTER,KY,http://clarkregional.org/,Unitedhealth Care HMO IP,HCPCS/CPT 0011A,1.0000 each,Immunization administration by intramuscular i...,42.98,46.4184,45.1290

In [45]:
print(df_filtered['code'].dtype)

object

In [48]:
df_filtered['code'] = df_filtered['code'].astype(str).str.replace("HCPCS/CPT ", "", regex=False)

In [50]:
df_filtered.head()

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
4,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC CORVEL,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,152.95,165.1860,160.5975
5,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,WC COVENTRY,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
6,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,80.50,86.9400,84.5250
7,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,69.23,74.7684,72.6915
8,100093,BAPTIST HOSPITAL,1000 W MORENO ST,PENSACOLA,FL,http://www.ebaptisthealthcare.org,FL BLUE,51754500105,50.0,sodium bicarbonate 8.4% 50 mL injection,74.06,79.9848,77.7630

In [52]:
df_filtered = df_filtered[df_filtered['code'] != 'NONE']

In [54]:
len(df_filtered)

1380490

In [60]:
df_filtered[df_filtered['gross_charges'] == '8702.5212']

Empty DataFrame
Columns: [cms_certification_num, name, address, city, state, homepage_url, payer, code, units, description, price, gross_charges, maximum_price]
Index: []

In [63]:
# Get a summary of missing values in each column
missing_summary = df_filtered.isnull().sum()
print(missing_summary)

cms_certification_num    0
name                     0
address                  0
city                     0
state                    0
homepage_url             0
payer                    0
code                     0
units                    0
description              0
price                    0
gross_charges            0
maximum_price            0
dtype: int64

In [65]:
state = 'TN'
code = '0001F'

result = df[(df['state'] == state) & (df['code'] == code)]
print(result)

Empty DataFrame
Columns: [cms_certification_num, name, address, city, state, homepage_url, payer, code, units, description, price, gross_charges, maximum_price]
Index: []

In [73]:
df_filtered['state'] = df_filtered['state'].str.strip().str.upper()
df_filtered['code'] = df_filtered['code'].str.strip()

# Ensure the inputs are also consistent
state = 'TN'.upper()  # Replace with your actual state
code = '0001F'.strip()  # Replace with your actual code

result = df_filtered[(df_filtered['state'] == state) & (df_filtered['code'] == code)]
result.head()

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
1513259,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AARP,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513260,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,ACORDIA,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513261,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513262,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA HMO,0001F,1.0000 each,Heart failure assessed (includes assessment of...,4915.31,5308.5348,5161.0755
1513263,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA PPO,0001F,1.0000 each,Heart failure assessed (includes assessment of...,4915.31,5308.5348,5161.0755

In [77]:
state = 'TN'
code = '0001F'

result = df_filtered[(df_filtered['state'] == state) & (df_filtered['code'] == code)]
result.head()

,cms_certification_num,name,address,city,state,homepage_url,payer,code,units,description,price,gross_charges,maximum_price
1513259,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AARP,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513260,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,ACORDIA,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513261,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA,0001F,1.0000 each,Heart failure assessed (includes assessment of...,8057.89,8702.5212,8460.7845
1513262,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA HMO,0001F,1.0000 each,Heart failure assessed (includes assessment of...,4915.31,5308.5348,5161.0755
1513263,440068,STARR REGIONAL MEDICAL CENTER ATHENS,1114 W MADISON AVE,ATHENS,TN,http://www.starrregional.com/,AETNA PPO,0001F,1.0000 each,Heart failure assessed (includes assessment of...,4915.31,5308.5348,5161.0755

In [79]:
df_filtered[df_filtered['gross_charges'] == '8702.5212']

Empty DataFrame
Columns: [cms_certification_num, name, address, city, state, homepage_url, payer, code, units, description, price, gross_charges, maximum_price]
Index: []

In [81]:
df_filtered['gross_charges'] = df_filtered['gross_charges'].str.strip()

AttributeError: Can only use .str accessor with string values!

In [83]:
df_filtered['gross_charges'] = df_filtered['gross_charges'].astype(str).str.strip()

In [85]:
df_filtered[df_filtered['gross_charges'] == '8702.5212']

Empty DataFrame
Columns: [cms_certification_num, name, address, city, state, homepage_url, payer, code, units, description, price, gross_charges, maximum_price]
Index: []

In [87]:
 df_filtered['gross_charges'].dtype

dtype('O')